# Enable mod_rewrite
RewriteEngine On

# If the requested file or directory exists, serve it as usual
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise, rewrite to index.html
RewriteRule ^ index.html [L]
